  <header class="navbar navbar-default navbar-fixed-top">
    <nav>
  <div class="container">
 <%= link_to image_tag("logo-circularisation.png"), root_path %>
 <%# link_to "CIRCULARISATION.com", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil", root_path %></li>
        <% if logged_in? %>
             <li><%= link_to "Mon profil", edit_user_path(current_user) %></li>  

              <li><%= link_to "Déconnexion", logout_path, method: "delete" %></li>

        <% else %>
          <li><%= link_to "Connexion", login_path %></li>
          <li><%= link_to "Inscription", signup_path %></li>
        <% end %>
      </ul>
  </div>
    </nav>
</header>
